---
---

$base-font-family: NanumBarunGothicOTF, -apple-system, Roboto;
$base-font-size:   16px !default;
$base-font-weight: 340 !default;

@import "minima";

.footer-col-wrapper {
    @include relative-font-size(0.7);
}
.post-meta {
    font-family: Monaco, "Courier New", monospace;
}
.post-link {
    display: inline;
    @include relative-font-size(1.0);
}
.post-list > li {
    margin-bottom: 0px;
}
